.APP {
  text-align: center;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
}

/* GLOBALS */
a {
  text-decoration: none;
  color: white;
}


/* login screen */
.login_screen,
.singup_page,
.login_page {
  /* background-image: url("/assets/LoginScreen.jpg"); */
  background-color: #f10000;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.login_title {
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-bottom: 40%;
  margin-top: 0;
  letter-spacing: 10px;
  font-family: cursive;
}

.render_login_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40%;
}

.btn_singUp {
  /* background-color: rgb(231, 231, 231); */
  color: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
}

.btn_login {
  color: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
  font-weight: bold;
}

/* singup */
.input_signup {
  background: transparent;
  margin-bottom: 10px;
  border-radius: 10px;
  border:3px solid rgb(255, 255, 255);
  padding: 10px;
  font-weight: bold;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.input_signup:focus {
  outline: none;
}

.input_signup::placeholder {
  color: rgb(0, 0, 0);
}
/* 
.btn_login {
  background: fixed;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
} */

.btn_login{
  display: block;
  background: fixed;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  border: none;
  border-bottom: 3px solid rgb(255, 255, 255);
}

/* NAVBAR */
.nav {
  background: #1a2433
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding:0px 20px; */
  width: 100%;
}

.nav__logo {
  width: 50px
}

.container__links {
  width: 100%;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  margin: 1px;
  list-style: none;
  text-decoration: none;
  margin: 3px;
}

/* media query  
  .btn_singUp:hover {
    background-color: rgb(2, 54, 83);
    color: rgb(231, 231, 231);
  } */