.APP {
  text-align: center;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  background-color: #151618;
}

/* GLOBALS */
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding:5px;
  margin:5px
}
h1{
  color: rgb(0, 255, 255);
  text-transform: uppercase;
  letter-spacing: 2rem;
  text-align: center;
  
}

h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  color: #0ff;
}

h3 {
  color: #1a2433;
}
em{
  padding:3px;
  margin:3px;
}
/* Loading  */

.loading{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(0, 238, 255);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* login screen */
.login_screen,
.singup_page,
.login_page {
  background-image: url("/assets/LoginScreen.jpg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.login_title {
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-bottom: 40%;
  margin-top: 0;
  letter-spacing: 10px;
  font-family: cursive;
}

.render_login_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40%;
}

.btn_singUp {
  /* background-color: rgb(231, 231, 231); */
  color: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
}

.btn_login {
  background:transparent;
  color:  #030303;
  border-radius: 15px;
  padding:15px;
  font-weight: bold;
  margin-top: 5px;
  border-bottom: 2px solid #05bddd;
}

/* singup */
.input_signup {
  background: transparent;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 3px solid rgb(255, 255, 255);
  padding: 10px;
  font-weight: bold;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.input_signup:focus {
  outline: none;
}

.input_signup::placeholder {
  color: rgb(0, 26, 255);
}
.btn_create_user{
  color:#fcfcfc;
  background:transparent;
  font-size:23px;
  border-radius: 10px;
  border:none;
  padding:15px;
  font-weight: bold;
  margin-top: 10px;
  border-bottom: 2px solid #05bddd;
}

/* 


/* NAVBAR */
.nav {
/* background: scroll; */
/* background-attachment: unset; */
  background-color: #05bddd;  
  color: rgb(0, 0, 0)
}

.nav__container {
  /* display: flex; */
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
  /* height: 50px; */
}

.nav__logo {
  width: 50px;
  display:inline-block;
}

.container__links {
  display: flex;
  align-items: center;
  width: 100%;
}

.btn_all{
  display: block;
  color:#000;
  font-weight: bold;
  padding:10px;
  margin:3px;  
}
/* no user page */
.no_user_cmt{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction:column;
}

/* pokemons */
.pokemons_links {
  display: flex;
  width: 70%;
  justify-content: space-around;
  color: #0ff
}


.login_link {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}


li {
  margin-right: 10px;
  list-style: none;
  text-decoration: none;
  margin: 3px;
}
.btn_primary{
  color:rgb(0, 0, 0);
  background-color: #709ada;
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-weight:bolder;
  margin:3px;

  /* cursor: pointer; */

}
/* pokemons  */

.center_pokemons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.render_card_pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin: 10px;
  border: 1px solid rgb(0, 224, 253);
}

.img_pokemon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.load_more {
  background-color: #000;
  padding: 10px;
  border-radius: 10px;
  color: #0ff;
  margin: 15px;
}

/* Pokemon Screeen  */


.character_screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

/* render berries  */
.render_berries {
  display:grid;
  grid-template-columns: 1fr;
  /* width: 100%; */
  /* height: 100%; */
  margin:30px;
}
.berrie{
  border:2px solid #709ada;
  margin:10px 
}
.btn_berries_more{
  padding:10px;
  display:flex;
  justify-content: center;
  align-items:center;
}
/* DESKTOP */


@media screen and (min-width: 700px) and (max-width: 1900px) {

  .login_screen,
  .singup_page,
  .login_page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .login_title {
    margin-bottom: 0;
    margin-top: 0;
    letter-spacing: 10px;
    font-family: cursive;
    grid-column-start: 1;
    /* grid-column-end: 2; */
    grid-row-start: 2;
  }

  .render_login_container {
    margin-bottom: 0;
    margin-top: 0;
    grid-column-start: 2;
    grid-row-start: 2;
    /* justify-content: center; */
    align-items: center;
  }

  .footer_login {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    color: rgb(0, 0, 0);
    margin-top: auto;
  }

  .signup_page_container {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .input_signup {
    width: 400px;
    display: block;
  }

  .account_created {
    grid-column-start: 2;
    grid-row-start: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .login_container {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .login_create {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .loger_title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .logout{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#000;
    font-weight: bold;
  }
  .all_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .render_berries{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}