.APP {
  text-align: center;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  background-color: #000000;
}

/* GLOBALS */
a {
  text-decoration: none;
  color: white;
}

h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  color: #0ff;
}

h3 {
  color: #1a2433;
}

/* login screen */
.login_screen,
.singup_page,
.login_page {
  /* background-image: url("/assets/LoginScreen.jpg"); */
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.login_title {
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-bottom: 40%;
  margin-top: 0;
  letter-spacing: 10px;
  font-family: cursive;
}

.render_login_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 40%;
}

.btn_singUp {
  /* background-color: rgb(231, 231, 231); */
  color: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
}

.btn_login {
  color: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid rgb(0, 0, 0);
  cursor: pointer;
  font-weight: bold;
}

/* singup */
.input_signup {
  background: transparent;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 3px solid rgb(255, 255, 255);
  padding: 10px;
  font-weight: bold;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.input_signup:focus {
  outline: none;
}

.input_signup::placeholder {
  color: rgb(0, 26, 255);
}

.btn_login {
  display: block;
  background: fixed;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  border: none;
  border-bottom: 3px solid rgb(255, 255, 255);
}

/* NAVBAR */
.nav {
  background: #1a2433
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav__logo {
  width: 50px
}

.container__links {
  width: 100%;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  margin: 1px;
  list-style: none;
  text-decoration: none;
  margin: 3px;
}

/* media query  
  .btn_singUp:hover {
    background-color: rgb(2, 54, 83);
    color: rgb(231, 231, 231);
  } */
/*  */
/* CARD POKEMON */
/* .app_contaner {
  border: 1px solid wheat;
  border-radius: 10px;
  display: flex;
} */
.center_pokemons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.render_card_pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin: 10px;
  border: 1px solid rgb(0, 224, 253);
}

.img_pokemon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.load_more {
  background-color: #000;
  padding: 10px;
  border-radius: 10px;
  color: #0ff;
  margin:15px;
}
/* Pokemon Screeen  */


.character_screen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh ;
  background-color: #000;
}
/* DESKTOP */


@media screen and (min-width: 700px) and (max-width: 1900px) {

  .login_screen,
  .singup_page,
  .login_page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .login_title {
    margin-bottom: 0;
    margin-top: 0;
    letter-spacing: 10px;
    font-family: cursive;
    grid-column-start: 1;
    /* grid-column-end: 2; */
    grid-row-start: 2;
  }

  .render_login_container {
    margin-bottom: 0;
    margin-top: 0;
    grid-column-start: 2;
    grid-row-start: 2;
    /* justify-content: center; */
    align-items: center;
  }

  .footer_login {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    color: rgb(0, 0, 0);
    margin-top: auto;
  }

  .btn_login {
    width: 200px;
    display: block;
  }

  .signup_page_container {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .input_signup {
    width: 400px;
    display: block;
  }

  .account_created {
    grid-column-start: 2;
    grid-row-start: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .login_container {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .login_create {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .loger_title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .all_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}